main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.stats {
  text-align: center;
  background-color: #b39364;
  height: 80px;
  color: #b39364;
  border: 10px solid #45372b;
  border-bottom-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.board {
  position: relative;
  border: 10px solid #45372b;
  background-image: url("/assets/flower.png");
  /* background-color: #afd1a3;*/
  /* border-width: 4px;
    border-style: solid;
    border-color: black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cell {
  flex-shrink: 0;
}

.cell-small {
  width: 30px;
  height: 30px;
}

.cell-big {
  width: 40px;
  height: 40px;
}

.default {
  background-color: transparent;
  border-radius: 0;
}

.snake-head,
.snake-tail {
  background-color: #75685b;
  /* background-image: url("camo.jpg"); */
  /* background-size: 100px 100px; */
  /* background-repeat: no-repeat; */
  /* border-radius: 100%; */
}

.snake-head {
  background-image: linear-gradient(rgb(212, 172, 172), rgb(117, 104, 91));
}

.snake-body {
  background-color: #75685b;
  background-image: url("/assets/white-dot.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-left-rounded {
  border-bottom-left-radius: 15px;
}

.bottom-right-rounded {
  border-bottom-right-radius: 15px;
}

.top-left-rounded {
  border-top-left-radius: 15px;
}

.top-right-rounded {
  border-top-right-radius: 15px;
}

/* #FFF1C5*
  */

.fruit {
  /* background-color: green; */
  /* border-radius: 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fruit-0 {
  background-image: url("/assets/strawberry.png");
}

.fruit-1 {
  background-image: url("/assets/grape.png");
}

.fruit-2 {
  background-image: url("/assets/mango.png");
}

.mango-container {
  position: absolute;
}

.timer {
  color: #45372b;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

.points {
  color: #45372b;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 30px;
}

.lose-modal .stats {
  color: #e8e8e8;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}
